:root{

    --bs-body-font-family: font-family: 'EB Garamond', serif;
   
   
}
.legal-btn-color{
background-color: rgba(182, 140, 90, 1)

}
.vl {
  border-left: 1px solid rgb(64, 65, 64);
  height: 350px;
  left: 50%;
  margin-left: -3px;
  top: 0;
  bottom: 0;
}
.carousel-inner img {
    height: 400px;
  
}
.my-text {
    color: white;
}
.carousel-control-prev-icon{
    background-color: rgb(34, 30, 30);
}
.carousel-control-next-icon{
    background-color: rgb(34, 30, 30);
}



